header {
  background: linear-gradient(to left, #452764 0%, #235588 100%);
}

#today {
  padding: 20px;
  border-style: solid;
  display: none;
  flex-direction: column;
  background-image: linear-gradient(160deg, #235588,  #452764);
  border-radius: 10px;
  color: white;
}

#today span {
  font-size: 20px;
}

#today h1 {
  margin: 5px 0 15px 0;
}

#today p {
  margin-bottom: 2px;
}

#forecast {
  display: none; 
  flex-direction:column;
}

.forecast-box {
  margin-right: 10px;
  border-style: solid;
  padding: 10px;
  background-image: linear-gradient(160deg, #235588,  #452764);
  border-radius: 10px;
  color: white;
}

.forecast-box:hover {
  opacity: 0.9;
	transform: scale(1.03);
}

#button-section {
  display: flex;
  flex-direction: column;
}

.city-button {
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(160deg, #235588,  #452764);
  border-radius: 10px;
  color: white;
}

.show{
  display: flex !important;
}

#search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#screen-top {
  margin-top: 20px;
}



